html, body {
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #d4d4d8;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;

    margin: 10px 0px 16px 0px;
}